

body { 
	font:18pt verdana; 
	background: #fff;
	margin:0;
	padding:0;
	}
.style5 {color: #6C88A6;text-align:left}
.style6 {
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
}
.style7 {color: #FFFFFF}


h1 {
	font-family: Tahoma,Arial,Helvetica,sans-serif;
	//font:20pt verdana, arial, sans-serif;
	font-size: 26px;
	color:#666;
	margin:0;
	padding:35px 0 0 10px;
}

h2 {
font-family: Tahoma,Arial,Helvetica,sans-serif;
	//font:12pt verdana, arial, sans-serif;
	font-size: 16px;
	color:#666;
	padding:10px;
	margin:0;
        text-align: center;
}

#kontakt{
font-family: Tahoma,Arial,Helvetica,sans-serif;
	font-size: 16px;
	color:#666;
color: #6C88A6;
	margin:0;
    

}
p { 
	font-family: Tahoma,Arial,Helvetica,sans-serif;
	font-size: 13px;
	//font: 11pt verdana; 
	margin: 0px; 
	text-align: justify;
	}
	
.addr_email {
    background: url("email.png") no-repeat scroll left center transparent;
	font-size: 13px;
}

.addr_skype {
    background: url("skype.png") no-repeat scroll left center transparent;
	font-size: 13px;
	margin-top:10px;
}
	
#contain {

	width:60%;
	margin-left:auto;
	margin-right:auto;
	background: #FFF ;
        }
	
#header {
	width:60%;
    height:75px;
	border-bottom:1px solid #CCC;
	
}

#leftcol {

	width:190px;
	float:left;
	padding:5px 0 5px 0;
	background-color: #fff;

}

#leftcol p {

	padding:3px 18px 3px 18px;
	margin:0;

}

#content {

	margin-left:190px;
	

}

#content p {

	padding:3px 18px 3px 18px;
	margin:0;

}

img {
    display: block;
    margin: 0 auto;
}

#footer {

	width:750px;
	clear:left;
	border-top:1px solid #369;
	border-bottom:1px solid #369;
	background: #6C88A6;
	padding: 3px 0 3px 0;

}

#footer p {
	text-align:center;
	padding-right:8px;
	font:8pt verdana, arial, sans-serif;
        
}

